body {
	background: #04A1BF;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.intro {
	margin: 30px 0px;
	font-weight: bold;
}

h1 {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 800;
}

p {
	font-weight: 600;
}

#userInput {
    height: 20px;
}

#first {
	margin-top: 10px;
	color: #FFCD5D;
}

#second {
	color: #51DF70;

}

#third {
	color: #025F70;
	margin-bottom: 30px;
}


#enter {
	border: none;
	padding: 5px 15px;
	border-radius: 5px;
	color: #04A1BF;
	background-color: #025F70;
	transition: all 0.75s ease;
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75 ease;
	font-weight: normal;
}

#enter:hover{
	background-color: #02798F;
	color: #FFCD5D;
}

#list-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

ul {
	display: flex;
	width: 65%;
	align-self: center;
	justify-self: center;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	text-align: center;
	margin-top: 20px;
}


li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	width: 100%;
	padding: 0.7rem;
	color: #ffffff;
	font-weight: 600;
	border: 2px solid #025f70;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #4EB9CD;
	transition: all 0.75s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;
}

li:hover {
	background: #76CFE0;
}

li > p {
	margin: 0;
	display: inline-block;
	margin-right: auto;
	margin-left: 1rem;
}

li > button {
	font-weight: bolder;
	background: none;
	border: none;
	float: right;
	color: #013741;
	transition: 0.5s;
}

li > button:hover {
	color: crimson;
	transition: 0.5s;
}

input {
	border-radius: 5px;
	width: 60%;
	padding: 5px;
	border: none;
}

.done {
	background: #51DF70 !important;
	color: #00891E;
}

.delete {
	display: none;
}

/* Hide the default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
  
.container {
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 1.5rem;
	user-select: none;
}
  
  /* Create a custom checkbox */
.checkmark {
	--clr: #0B6E4F;
	position: relative;
	top: 0;
	left: 0;
	height: 0.8em;
	width: 0.8em;
	background-color: #ccc;
	border-radius: 50%;
	transition: 300ms;
}
  
/* When the checkbox is checked, add a green background */
.container input:checked ~ .checkmark {
	background-color: var(--clr);
	border-radius: .5rem;
	animation: pulse 500ms ease-in-out;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
  
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}
  
/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 0.25em;
	top: 0.14em;
	width: 0.15em;
	height: 0.3em;
	border: solid #E0E0E2;
	border-width: 0 0.15em 0.15em 0;
	transform: rotate(45deg);
}

@keyframes pulse {
	0% {
	  box-shadow: 0 0 0 #0B6E4F90;
	  rotate: 20deg;
	}
  
	50% {
	  rotate: -20deg;
	}
  
	75% {
	  box-shadow: 0 0 0 10px #0B6E4F60;
	}
  
	100% {
	  box-shadow: 0 0 0 13px #0B6E4F30;
	  rotate: 0;
	}
}